<% layout("/layouts/boilerplate.ejs") -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
</head>
<body>
    <div class="row mt-3">
        <h2>login form</h2>
        <div class="col-6 offset-3">
            <form action="/adminlogin" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Enter Username:</label>
                <input type="text" id="username" name="username" class="form-control required>
                </div>
               
                <div class="mb-3">
                    <label for="password" class="form-label">Enter Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="mb-3"><button class="btn btn-primary" >login</button></div>
            </form>
        </div>
    </div>
</body>
</html>