<% layout("/layouts/boilerplate.ejs") -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login types</title>
</head>
<body>
    <p>login as <b>user</b>: <form action="/login" method="get"><button class="btn btn-primary">login</button></form></p>
    <p>login as <b>admin</b>: <form action="/adminlogin" method="get"><button class="btn btn-primary">login</button></form></p>
</body>
</html>